html,body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  background: #FFFFFF;
}

.tab-pane.is-active {
display: block;
width: 50%;
position: relative;
left: 50%;
transform: translateX(-50%);
margin-top: 100px;
margin-bottom: 100px;
}

.hero-body-cyber
{background-image: url("../images/cybersecurity2.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 500px;
}

.hero-body-ml
{background-image: url("../images/ml2.jpeg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 500px;
}

.hero-body-clouds
{background-image: url("../images/cloud2.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 500px;
}

.hero-body-rasp
{background-image: url("../images/rasppi.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 500px;
}

.hero-body-job
{background-image: url("../images/job.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 500px;
}

.reference{
  background: rgb(236, 241, 240);
}
