@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans:wght@400;600&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato|Poppins|Kaushan+Script");

html,body {
  background: rgb(236, 241, 240);;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.hero-body-work
{background-image: url("../images/sam.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 500px;
filter: blur(8px);
-webkit-filter: blur(4px);
}

.bg-text h1 {
  font-size: 50px;
  font-weight: 500;
  font-family: 'Kaushan Script', sans-serif;
}

.bg-text h2 {
  font-size: 30px;
  font-weight: 500;
}

.bg-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.sandbox {
  padding: 5rem 0;
}

.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.is-shady {
animation: flyintoright .4s backwards;
background: #fff;
box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
border-radius: 4px;
display: inline-block;
margin: 10px;
position: relative;
transition: all .2s ease-in-out;
}

.is-shady:hover {
box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}

.title{
  font-size: 25px;
}
