<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog - Free Bulma template</title>
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/profile.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css" />
  <link rel="stylesheet" type="text/css" href="../css/report.css">
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../index.html">
          <img src="../images/logo.jpg" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
        </span>
      </div>
      <div class="brand-name">
        <a href="../index.html" class="logo">Vibing</a>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active" href="../index.html">
            Home
          </a>
          <a class="navbar-item" href="profile.html">
            Profile
          </a>
          <a class="navbar-item" href="job.html">
            Job
          </a>
          <a class="navbar-item" href="tools.html">
            Tools
          </a>
          <a class="navbar-item" href="data.html">
            Data
          </a>
          <a class="navbar-item" href="work.html">
            Work
          </a>
          <a class="navbar-item" href="tech.html">
            Tech
          </a>
          <a class="navbar-item" href="idea.html">
            Idea
          </a>
          <a class="navbar-item" href="reflection.html">
            Reflection
          </a>
          <a class="navbar-item" href="dynamics.html">
            Dynamics
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <section class="hero is-info is-medium is-bold">
    <div class="hero-body-clouds">
    </div>
  </section>

<div class="tab-pane is-active" id="pane-2">
  <div class="content">
    <h1>Clouds, services, servers</h1>
    <p><span class="tag is-primary">Author</span> Dat Nguyen<p>
    <br>
    <h2>What are clouds, services and servers doing?</h2><br>
  <p>Cloud refers to a collection of internet-connected servers rented as part of a software or application service (Probrand n.d). Web hosting, data storage and sharing,
    and software or applications are all examples of cloud-based services.</p>

    <p>The term "the cloud" may also apply to cloud computing, in which many computers are connected to share the workload. This implies that complicated operations may be spread over
      smaller computers rather than utilising a single powerful system (Probrand n.d).</p>

      <p>A cloud server is a centralised pooled server resource that is hosted and supplied via a network (usually the Internet) and may be accessed on demand by many users (Vmware n.d).
        Cloud servers can provide the same processing power, storage, and applications as conventional physical servers.</p>

        <p>A cloud computing infrastructure allows cloud servers to be placed anywhere globally and to provide services remotely. On the other hand, the traditional dedicated server
          hardware is usually installed on-premises for the sole use of one company.</p><br>

    <h2>Types of cloud servers</h2>
    <p>When it comes to selecting the appropriate cloud server solution, businesses of all sizes have many alternatives. The ideal cloud servers are tailored to individual requirements and budgets.
      What works for a multinational corporation may not be appropriate for a mid-sized business (Vmware n.d).</p>

    <h3>Cloud servers can be deployed in three primary types of clouds:</h3><br>

    <h4>The Public Cloud</h4>
    <p>This is the most frequently used method for deploying cloud servers. In this scenario, a third-party supplier owns and maintains the servers and other infrastructure,
      and its clients have access to on-demand computing services.</p>

      <h4>Private Cloud</h4>
      <p>A business may host its cloud servers privately while maintaining control over administration and maintenance. These server resources are not shared with other companies,
        but since they are in the cloud, any employee may access them remotely, usually through a corporate intranet or VPN.</p>

      <h4>Hybrid Cloud</h4>
      <p>Public and private clouds may be coupled with on-premises and off-site cloud servers to form a hybrid cloud. This hybrid cloud architecture provides businesses with additional choices
        and flexibility to retain control and security as needed. It also makes use of public clouds when companies need to overgrow to meet spikes in demand.</p>
      <p>Companies have a plethora of options for server equipment and hosting. To provide services, they may pick from hundreds of cloud providers. As data centres and server farms
        develop across the globe, the number of cloud servers continues to increase. Several hundred million servers may be required soon to satisfy the increasing demand for computers and
        linked devices.</p><br>

      <h2>What are the benefits of a cloud server?</h2>
      <p>Cloud servers have transformed the IT sector. Countless businesses have abandoned conventional, centralised server and infrastructure configurations to take advantage of this
        game-changing technology (Salman. S 2020). This change is motivated by four main benefits (Vmware n.d).</p><br>

        <h4>Affordability</h4>
        <p>Using cloud servers maintained by third-party providers costs a business much less than buying and maintaining its infrastructure. When companies share server resources with others,
          they benefit from economies of scale, and they only pay for the resources they utilise.</p><br>

        <h4>Convenience</h4>
        <p>Public cloud services are often deployed in minutes and maintained through a single control panel or API. Users may access data from any location. IT teams'
          resources are freed up when they no longer need to manage complicated infrastructures on-premises.</p><br>

        <h4>Scalability</h4>
        <p>As processing and data storage requirements vary, cloud servers can adjust rapidly, scaling up or down to suit demand.</p><br>

        <h4>Reliability</h4>
        <p>Cloud servers may function at the same level as dedicated servers. Because the cloud is built on many servers in a shared environment, the service may continue even if one component fails.</p><br>

    <h2>Improvement in the coming year?</h2><br>
    <p>Cloud computing has a promising future (Kytec 2021). According to IDC analysts, the sector will develop quickly in the following years, with almost 75 percent of data operations
      taking place outside the traditional data centre. Furthermore, 40% of businesses will adopt cloud technology, with edge computing becoming an essential component of the technological setup.
      In addition, by 2022, a quarter of end-point devices will be ready to run AI algorithms.</p>
  <p>Cloud computing enables companies to concentrate on accomplishing their objectives while keeping performance at the forefront. When a five-pronged cloud computing phenomenon that
    utilises flexibility, agility, security, mobility, and scalability interacts with current procedures, corporate performance reaches new heights. The aim is to assist companies in obtaining
    the computing power they need and determining how they want it to function before moving on.</p><br>

    <h2>The impacts of cloud computing services</h2>
    <p>Cloud computing is presently turning the supply of IT resources on its head. As a result, it is not unexpected that Cloud Computing affects its users, who vary from companies to public
      administrations to consumers, and the ICT industry, society, and economy as a whole (Leimbach T et al. 2014) . While there are many estimates about the effects of Cloud Computing on its users
      and the environment, there is no reliable data. Furthermore, there is a heated and contentious discussion.</p><br>

    <h4>Impacts on consumer</h4>
    <p>Cloud computing is a phenomenon that impacts not just companies and government agencies but also consumers. Convenience is essential from a customer standpoint,
      but privacy and security concerns are equally important (Leimbach T et al. 2014). On the one hand, Cloud Computing has an impact on consumer lifestyle and behaviour.
      The usage of cloud services, on the other hand, not only makes customers' lives more comfortable but also makes them more reliant on technology. Furthermore, Cloud Computing is anticipated to
      contribute to blurring the line between work and personal life.</p>
      <p>On the other hand, although many cloud services targeted at consumers have no financial fees for their customers, they do have costs in the sense that users must give up
        some of their privacy. On the other hand, consumers anticipate suffering severe consequences not just in terms of privacy but also in terms of security. Several security incidents
        in recent years have significantly eroded customer trust in cloud services.</p><br>

    <h4>Impacts on businesses and public administrations</h4>
    <p>Cloud computing has an impact on companies of all sizes and industries, as well as government agencies. The examined literature offers some intriguing insights into the effects of
      Cloud Computing services. However, the projected numbers for some of them vary across research.</p>
  <p>On the one hand, recent studies show that cost is one of the primary motivators for cloud adoption. Many companies and government agencies that use Cloud Computing anticipate seeing cost savings
    to some degree. Although it is challenging to quantify appropriately, businesses often consider the total cost of ownership (TCO) of Cloud Computing cheaper than other methods to supply IT resources.
    Because most businesses desire to save money, transferring capital expenditures (CapEx) to operating expenses (OpEx) is advantageous.</p>
  <p>Typically, such a reduction in costs may be achieved by using cloud services. Flexibility and scalability are two more significant motivations. Aside from flexibility and scalability,
    agility, capacity for innovation, and mobility are often highlighted. As a result of these effects, Cloud Computing is increasingly being seen as a need for remaining
    competitive (Hallinan, D.et al 2014). On the other hand, recent research suggests that concerns about security and business continuity are impeding the adoption of Cloud Computing. Businesses
     and government agencies are concerned not just about the detrimental effect of Cloud Computing on security and compliance but also about interoperability issues.</p><br>

     <h4>Personal Impact</h4>
     <p>Cloud computing is altering our lives in many ways. While the technology has been extensively detailed and discussed on a technical level, relatively few studies have focused on its effect
       on daily life. Cloud technology is having a remarkable effect on our world on a variety of levels. By emphasising some of these areas, we would want to reflect on the impact of these systemic
       changes in life (Michael. B 2016):</p><br>

      <h4>Social Impact</h4>
      <p>With over 15 million Australian users, Facebook is the most popular medium. Instagram, with five million members, and LinkedIn, with 3.8 million accounts,
        are two additional social networking sites. Tinder, the most recent and popular dating app, has two million users in Australia. As a result, all social media apps make use of the cloud
        in some manner. When we post a picture to Facebook or Instagram, it is automatically saved in the cloud. Some apps are, in reality, cloud-based. Moreover, no one can deny that social media
        has affected how people live their lives these days.</p><br>

      <h4>Entertainment</h4>
      <p>Before the cloud, we could only watch what was on television or listen to what was on the radio. While we may long for bygone days, the reality is that the cloud has transformed
         how we get entertainment. Netflix Australia and Foxtel Play allow us to watch any programme we want whenever we want, while music-streaming services like Apple Play allow us to listen
         to our favourite songs whenever we want. All of them have one thing in common: they utilise the cloud to distribute information to us.</p><br>

      <h4>Healthcare</h4>
      <p>This is one of the most cutting-edge applications of the cloud in everyday life. Users of the Apple Watch, for example, may programme their gadget to record detailed statistics
        such as their heart rate or the number of calories burnt each day. This data is kept in the cloud and may be accessed by a physician who can monitor the patient's health. Furthermore,
        some doctor's offices have set up cloud-based patient portals where vital health data and a plethora of other information may be accessed.</p><br>

        <div class="reference">
            <h3><strong>References</strong></h3>
          </div>
          <ol>
            <br>
<li>Leimbach, T., Hallinan, D., Bachlechner, D., Weber, A., Jaglo, M., Hennen, L., Nielsen, R.O., Nentwich, M., Strauss, S., Lynn, T. and Hunt, G., 2014. Potential and impacts of cloud computing services and social network websites. Publication of Science and Technology Options Assessment. </li>

<li>Michael. B 2016, “6 Ways the Cloud Impacts Everyday Life”, Empower IT, viewed 08 September 2021, <a href=”https://www.empowerit.com.au/blog/cloud-computing/6-ways-cloud-impacts-everyday-life/”>reference link</a></li>

 <li>Salman. S 2020, ”Exploring the Future of Cloud Computing in 2020 and Beyond”, Learn Hub, viewed 05 September 2021, <a href=”https://learn.g2.com/future-of-cloud-computing”>reference link</a></li>

<li>Probrand n.d, “Cloud Server”, Probrand, viewed 06 September 2021, <a href=”https://www.probrand.co.uk/it-services/cloud-server”>reference link</a></li>

<li>Vmware n.d, “Cloud Server”, Vm ware, viewed 07 September 2021, <a href=”https://www.vmware.com/topics/glossary/content/cloud-server”>reference link</a></li>

<li>Kytec 2021,”Cloud Storage Solutions for Business”, Kytec, viewed 09 September 2021, <a href=”https://www.kytec.com.au/business-cloud/?utm_campaign=network&utm_term=network%20cloud%20services&gclid=Cj0KCQjwm9yJBhDTARIsABKIcGYFltBtH1eyrVDfUPugwyPRYEFa4rL3G9raF3OOeRIYSwtghRnIlJQaAl6gEALw_wcB”>reference link</a></li>
</ol>

</div>
<a class="button is-small is-info is-outlined" href="tech.html">
    Back
</a>
</div>


                  <section class="copyright">
                    <div class="container">
                      <p>© <span id="year"></span> | Designed and Developed based on <a href="https://github.com/BulmaTemplates/bulma-templates">Bulma CSS template</a>. | All rights reserved.</p>
                    </div>
                  </section>

                </body>
                </html>
