<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog - Free Bulma template</title>
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/profile.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css" />
  <link rel="stylesheet" type="text/css" href="../css/report.css">
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="home.html">
          <img src="../images/logo.jpg" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
        </span>
      </div>
      <div class="brand-name">
        <a href="/" class="logo">Vibing</a>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active" href="../index.html">
            Home
          </a>
          <a class="navbar-item" href="profile.html">
            Profile
          </a>
          <a class="navbar-item" href="job.html">
            Job
          </a>
          <a class="navbar-item" href="tools.html">
            Tools
          </a>
          <a class="navbar-item" href="data.html">
            Data
          </a>
          <a class="navbar-item" href="work.html">
            Work
          </a>
          <a class="navbar-item" href="tech.html">
            Tech
          </a>
          <a class="navbar-item">
            Idea
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <section class="hero is-info is-medium is-bold">
    <div class="hero-body-cyber">
    </div>
  </section>

<div class="tab-pane is-active" id="pane-2">
  <div class="content">
    <h1>Cybersecurity</h1>
    <p><span class="tag is-primary">Author</span> Jake Porter<p>
    <br>
    <p>Cyber security is an ever-growing necessity in the modern world. To better understand the role that cyber security plays, it's important to know where it comes from. The need for cyber security
came about through challenges faced in the development of what we call cyberspace; the environment that cyberspace encompasses is so complex it has taken several attempts and years of research
to merely develop a definition for it. According to Friedman, in 2008, the Pentagon came to the agreement to define cyberspace as ‘the global domain within the information environment consisting
of the interdependent network of information technology infrastructures, including the internet, telecommunications networks, computer systems and embedded processors and controllers.’ What adds
to the complexity of such an environment is not only its forever evolving magnitude but also its immeasurable content. Cyberspace is first and foremost an information environment, (Friedman, 2013),
however it includes the terminals and infrastructure of the physical world that allows users of the world to be a part of this space and feel a sense of connectivity.</p>

<p>According to Adel Elmaghraby from Cairo University, the world is experiencing an evolution of Smart Cities. From a cyber point of view, smart refers to mechanical systems equipped
  with sensors, actuators, and pre-programmed controllers, which allow a structure to adapt to unpredictable external loading conditions. (Holnicki, 2008). These ‘smart’ tools add a level
  of intelligence to connected systems. As the term Smart City would suggest, it encompasses these tools at a massive scale. It brings users, infrastructure, economics, and devices into its own
  giant cyberspace. It creates new social opportunities and improvements in the quality of life. Conversely, this level of cyberspace poses risks to users’ privacy and security in the digital
  world. Therefore, the need for cyber security and protection concurrently grows. Cyber security can be defined as the activity, process, ability, or state whereby information and communications
  systems and the information contained therein are protected from and/or defended against damage, unauthorised use or modification, or exploitation (Rahman, 2020).</p>

  <p>Furthermore, in a real-world example. Since January 2020, the world has succumbed to a global pandemic. People were thrown into a completely new digital lifestyle.
    Work, school, and all social interactions were conducted through a digital interface and the need for cyber security was escalating at an uncontrollable rate. Users were vulnerable
     and cyber crime became a very desirable possibility for criminals and fraudsters.</p><br>

<img src = "../images/cybercrime.PNG" alt = "statistics of cyber crime"></img><br>

<br><p>The above graph represents statistics in the US in the last 5 years regarding financial identity theft and fraud complaints. The direct and immediate consequence of the
  pandemic left millions unemployed, and the governments of the world responded with stimulus packages for their citizens. With such an immense level of traffic trying to access this
  solution it made it near impossible to govern, facilitate and protect individuals from cybercrime. As a result, in 2020 there was a huge spike in fraudulent crimes that were financially
  motivated and carried out through digital interfaces.</p>

<p>In this new modern world cybersecurity and protection are as important for users and families as they are for businesses, governments, and education institutions (Goutam, 2015).
  As mentioned, it has become near impossible to govern and protect users in the digital world. Therefore, going forward in the years to come, education will be vital in the defence of cyber
  activity. It is essential to educate and empower users, especially children, on the safe and responsible use of online resources and platforms to establish a culture of cyber safety (Rahman, 2020).
  As Rajesh Goutam from Lucknow University makes apparent, the rapid expansion of technologies makes cyber security solutions more challenging as there is presently no permanent solution.
  By way of explanation, as technology changes, so does our cyberspace, which introduces more threats and vulnerabilities and therefore security solutions are forced to adapt.</p>

<p>Additionally, it's hard to predict how cyber security will look or be used in the future. As discussed, cyber security techniques are adapted and implemented as new threats arise.
  To compare, 20+ years ago, before we entered the 21st century, when the world was seeing the first Nokia phone and search engines were being developed, the idea of cyber security and
  protection from the digital world was laughable. Much the same for the 20+ years from now. There will be new technologies, threats and security techniques that haven’t been thought of yet
  and the world we know now will be vastly different. Presently, with current known threats, Nikhita Gade from Cornell University explores several cyber security techniques which include:</p>

<h3><strong>Authentication of data</strong></h3>
<p>Documents or any source of information sent digitally must be authenticated and checked that the information has come from a reliable source and has not been modified in any way.</p>

<h3><strong>Malware Scanners</strong></h3>
<p>Usually comes in the form of software of a program that scans files in the system for any malicious viruses. Terms like virus, worms and trojans are all considered to be malware.</p>

<h3><strong>Firewalls</strong></h3>
<p>The firewall examines and blocks messages and packets that do not meet the security criteria. By name, it is a digital wall for potential malware.</p>

<h3><strong>Anti-virus Software</strong></h3>
<p>Like a malware scanner, anti-virus software is a program that detects malicious software; however, unlike the malware scanner, it can also act against malware and attempt to remove it.
  A useful feature for this software is that it auto updates to recognise newly developed viruses.</p>

<p>All these techniques are easy to learn to manage. Though the cyber world may be technical and complex, most interfaces like these are simplified for the average user.</p>

<p>Cyber security will have a large effect on me as I am wanting to study my masters in that sector. Evidently, the impacts of the pandemic have resulted in an increase of cybercrime,
  and it is my passion and want to be able to safely navigate my way through now and upcoming challenges. This will only be achieved through education and experience in real world applications
   of cyber security. As an example, in my workplace at Jb Hi-Fi we offer Norton 360 anti-virus security. We provide the customer with an activation code that they can activate with a google
   search to the Norton website. However, we need to direct the customer to NOT click the first link and to proceed to the second link in the google search. This is because the first link is
   fake and uses cross-site scripting to steal a customer’s activation code once they enter it and resell it digitally. Seeing people around me being affected by cyber crime is a great motivator
    to become confident in cyber security and share that knowledge with those around me. To conclude, cyber security plays a large role in cyberspace and is vast in its complexity. Its importance
    grows greater every year as the world moves towards a highly interconnected system and the need for education becomes more apparent as cyber threats continuously challenge our security and
    safety. </p><br>

    <div class="reference">
        <h3><strong>References</strong></h3>
      </div>
      <ol>
<li>Elmaghraby, A; Losavio, M. 2014. ‘Cyber Securities challenges in Smart Cities: Safety, security, and privacy.’ Journal of Advanced Research, Cairo University. Available at: <a href="https://reader.elsevier.com/reader/sd/pii/S2090123214000290?token=15B447764BD4D4434B909F9C45D8349485EA3A2803407D3DD3E017C554542603836C18BB039CC809CD61B6A4D94F5FDF&originRegion=us-east-1&originCreation=20210908044248">reference link</a></li>

<li> ‘Facts + Statistics: Identity theft and Cybercrime.’ Insurance Information Institution. Accessed: <a href="https://www.iii.org/fact-statistic/facts-statistics-identity-theft-and-cybercrime">reference link</a></li>
16) Friedman, A. 2013. ‘Cybersecurity and Cyberwar: What Everyone Needs to know’.
<li>Gade, N. 2014. ‘A study of cyber security challenges and its emerging trends on latest technologies.’ International Journal of Engineering and Technology. Available at: <a href="https://arxiv.org/abs/1402.1842">reference link</a></li>
<li>Goutam, R. 2015. ‘Importance of Cyber Security’. International Journal of Computer Applications. Available at: <a href="https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.695.9225&rep=rep1&type=pdf">reference link</a></li>
<li>Holnicki, J; Motylewski, J. 2008. ‘Introduction to Smart Technologies.’ Research Gate. Available at: <a href="https://www.researchgate.net/publication/237378756_Introduction_to_Smart_Technologies">reference link</a></li>
<li>Rahman, N; Sairi, H; Zizi, M; Khalis, F. 2020. ‘The Importance of Cybersecurity Education in School.’ International Journal of Information and Education Technology. Available at: <a href="http://www.ijiet.org/vol10/1393-JR419.pdf">reference link</a></li>
</ol>

</div>

<a class="button is-small is-info is-outlined" href="tech.html">
    Back
</a>

</div>


                  <section class="copyright">
                    <div class="container">
                      <p>© <span id="year"></span> | Designed and Developed based on <a href="https://github.com/BulmaTemplates/bulma-templates">Bulma CSS template</a>. | All rights reserved.</p>
                    </div>
                  </section>

                </body>
                </html>
