<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog - Free Bulma template</title>
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/report.css">
    <link rel="stylesheet" type="text/css" href="../css/profile.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css" />
  <link rel="stylesheet" type="text/css" href="../css/data.css" />
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../index.html">
          <img src="../images/logo.jpg" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
        </span>
      </div>
      <div class="brand-name">
        <a href="../index.html" class="logo">Vibing</a>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active" href="../index.html">
            Home
          </a>
          <a class="navbar-item" href="profile.html">
            Profile
          </a>
          <a class="navbar-item" href="job.html">
            Job
          </a>
          <a class="navbar-item" href="tools.html">
            Tools
          </a>
          <a class="navbar-item" href="data.html">
            Data
          </a>
          <a class="navbar-item" href="work.html">
            Work
          </a>
          <a class="navbar-item" href="tech.html">
            Tech
          </a>
          <a class="navbar-item" href="idea.html">
            Idea
          </a>
          <a class="navbar-item" href="reflection.html">
            Reflection
          </a>
          <a class="navbar-item" href="dynamics.html">
            Dynamics
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <section class="hero is-info is-medium is-bold">
    <div class="hero-body-data">
      <div class="container has-text-centered">
        <h1 class="header-title">Industry Data</h1>
      </div>
    </div>
  </section>

<div class="tab-pane is-active" id="pane-2">
  <div class="content">
    <h2>Demand for our Ideal Job</h2><br>

<h3><strong>Senior Java Developer</strong></h3>
<ul>
<li>Seek - 958 jobs advertised Australia wide (General developer roles, not specifically Java) </li>
<li>Glassdoor - 523 jobs advertised Australia wide (General developer roles, not specifically Java)</li>
<li>Burning Glass Top Titles March 2018: Ranked 13th in demand </li>
</ul>

<h3>Required Skills</h3>
<p><strong>IT Specific:</strong> JAVA, JavaScript, Frameworks, SQL, Rest API, Git</p>
<p><strong>General:</strong> Communication, problem solving, creative thinking, troubleshooting</p><br>

<h3><strong>Cyber Security Operations Specialist</strong></h3>
<ul>
<li>Seek - 423 jobs advertised Australia wide (General Cyber Security)</li>
<li>Glassdoor - 336 jobs advertised Australia wide (General Cyber Security)</li>
<li>Burning Glass Top Occupations Feb 2018: Ranked 13th in demand (Cyber / Information Security Engineer / Analyst)</li>
</ul>
<h3>Required Skills</h3>
<p><strong>IT Specific:</strong> Computer security, data science, incident response, SQL</p>
<p><strong>General:</strong> Troubleshooting, critical thinking, problem solving, communication</p><br>

<h3><strong>Management Accountant</strong></h3>
<ul>
<li>Seek - 361 jobs advertised Australia wide </li>
<li>Management accountant is in top 5 job depending on the Annual Employment Growth report 2020</li>
</ul>
<h3>Required Skills</h3>
<p><strong>IT Specific:</strong> Accounting software, Microsoft Office, Business relationships</p>
<p><strong>General:</strong> Critical thinking, analytical skills,organisational skills, time management</p><br>

<h3><strong>Software Engineering Manager</strong></h3>
<ul>
<li>Seek - 737 jobs advertised Australia wide </li>
<li>Glassdoor - 959  jobs advertised Australia wide</li>
<li>Burning Glass Top Occupations Feb 2018: Ranked 16th in demand (Similar in terms of roles and tasks)</li>
</ul>
<h3>Required Skills</h3>
<p><strong>IT Specific:</strong> SQL, JAVA, Project Management, Python, Software Engineering, Scrum</p>
<p><strong>General:</strong> Team building, Leadership, Mentoring, Communication skills, Decision making</p><br>

<h3><strong>Software Delevoper</strong></h3>
<ul>
<li>Seek - 7220 jobs advertised Australia wide </li>
<li>Jora - 15,429 jobs advertised Australia wide</li>
<li>Indeed - 6943 jobs advertised Australia wide</li>
<li>Burning Glass Top Titles March 2018: Ranked 11th in demand</li>
</ul>
<h3>Required Skills</h3>
<p><strong>IT Specific:</strong> SQL, Javascript , Java , Software Engineering , Microsoft C# , Git , Python, Linux  , Oracle ,HTML5
</p>
<p><strong>General:</strong> Communication skills , Problem Solving skills , Planning Skills , Decision Making skills and Skills in Meeting Deadlines
</p><br>
<hr><br>
<h2>Group's Required Skill set</h2><br>
<section>
<div class="columns has-same-height is-gapless">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <h3 class="title is-4">IT Specific</h3>
        <div class="content">
          <ul>
          <li>JAVA</li>
          <li>JavaScript</li>
          <li>Frameworks</li>
          <li>SQL</li>
          <li>Rest API</li>
          <li>Git</li>
          <li>Computer Security</li>
          <li>Data Science</li>
          <li>Incidcent Response</li>
          <li>Accounting Software</li>
          <li>Microsoft Office</li>
          <li>Business Relationships</li>
          <li>Project Management</li>
          <li>Python</li>
          <li>Software Engineering</li>
          <li>Scrum</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content skills-content">
        <h3 class="title is-4">General</h3>
        <div class="content">
          <ul>
          <li>Communication</li>
          <li>Problem Solving</li>
          <li>Creative Thinking</li>
          <li>Critical Thinking</li>
          <li>Troubleshooting</li>
          <li>Analytical Skills</li>
          <li>Organisational Skills</li>
          <li>Time Management</li>
          <li>Team Building</li>
          <li>Leadership</li>
          <li>Mentoring</li>
          <li>Decision Making</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</section><br><br>

<h2>How do the IT specific skills rank in terms of demand?</h2>
<p>Our team’s required skill set included the top three skills in demand from employers according to the data presented from  the ‘Burning Glass Top IT Skills - March 2018’ list.
  These skills were SQL, Javascript and Java. Knowledge of business relationships, Git and Microsoft office were also featured on the Top Skills list, although at a lower demand. </p>

  <p>The additional skills that we identified did not place on the list, which were Rest API, Computer Security, Data Science, Incident Response, and Accounting Software.
    It is important to keep in mind that required tools and technology change rapidly in the IT world, causing the data presented from Burning Glass outdated as it was collected in 2018.</p><br>

<h2>How do the general skills rank in terms of demand?</h2>
<p>The general skills we identified as requirements for our ideal jobs featured quite frequently on the ‘Burning Glass Top Generic Skills - March 2018’ list.
  The top three skills in demand were communication, problem solving, and organisational skills. Other skills that we identified such as troubleshooting, creativity, time management,
  and analytical skills were also highly demanded. The only skill that was not present on the list was critical thinking, which could be due to its broad definition or that it is an
  expected skill, as it is definitely an essential skill for any workplace.</p><br>

<h2>Highest ranked skills not listed</h2>
<p>Information below is extrapolated from Burning Glass in March 2018</p><br>
<section>
<div class="columns has-same-height-2 is-gapless">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <h3 class="title is-4">IT Specific</h3>
        <div class="content">
          <ol>
          <li>Project Management</li>
          <li>SAP</li>
          <li>Business Management</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content skills-content">
        <h3 class="title is-4">General</h3>
        <div class="content">
          <ol>
          <li>Writing</li>
          <li>Teamwork/Collaboration</li>
          <li>Planning</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
</section><br>
<br><hr><br>
<h2>Based off the data, have our opinions changed?</h2><br>
<h3><strong>Mitch - Senior Java Developer:</strong></h3>
<p>From the data gathered from Burning Glass as well as from job advertisement websites, Java Developer roles are still in high demand. My opinion on my ideal job hasn't really changed, as I was not set on being a Java Developer specifically,
  I am more interested in a general developer role, which opens up a much wider range of careers, all highly in demand. </p><br>

<h3><strong>Anson - IT Software Engineering Manager:</strong></h3>
<p>No, my opinion of my ideal job has not changed. It is because working under desired environments contributes to a long run career although it can be stressful sometimes. I wouldn’t mind trying other jobs but being a game developer is still my
  first priority as passion and interest will keep me competitive and active in this field.</p><br>

<h3><strong>Jake - Cyber Security Specialist:</strong></h3>
<p>Although there seems to be noticeably less jobs I am not swayed in wanting to pursue this career. Regardless of wanting a career in this industry, the threats of
  cyberspace continue to grow and I still want to be able to safely navigate it. The required skills list attributes such as critical thinking, problem solving and troubleshooting
  which are all skills I believe I possess. During my time of studying engineering, a lot of their syllabus and teaching techniques were based around problem solving and being able
  to apply knowledge to complex scenarios. It’s a skill that will be beneficial to me in real world applications and aid in achieving a career in this sector.</p><br>

  <h3><strong>Dat - Management Accountant:</strong></h3>
  <p>After reviewing the data analysis from the Australia Jobs 2020 report, management accountant is still my top choice for a job in my area of speciality. Because of my previous experience in management positions, I believe I am more confident in those positions.</p><br>


  <h3><strong>Vincent – Software Developer: </strong></h3>
  <p>No, my opinion of my ideal job has not changed after looking at the Burning Glass data as the reason for my choice of being a software developer in the first place was the abundance of jobs Australia wide and worldwide with varying pay and roles.
    Though the Burning Glass data did come with a surprise as I never thought that roles such as Graphic Designer and Solutions Architect would be so sought after. </p><br>

</div>
</div>


                  <section class="copyright">
                    <div class="container">
                      <p>© <span id="year"></span> | Designed and Developed based on <a href="https://github.com/BulmaTemplates/bulma-templates">Bulma CSS template</a>. | All rights reserved.</p>
                    </div>
                  </section>

                </body>
                </html>
