<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog - Free Bulma template</title>
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/profile.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css" />
  <link rel="stylesheet" type="text/css" href="../css/report.css">
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="home.html">
          <img src="../images/logo.jpg" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
        </span>
      </div>
      <div class="brand-name">
        <a href="/" class="logo">Vibing</a>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active" href="../index.html">
            Home
          </a>
          <a class="navbar-item" href="profile.html">
            Profile
          </a>
          <a class="navbar-item" href="job.html">
            Job
          </a>
          <a class="navbar-item" href="tools.html">
            Tools
          </a>
          <a class="navbar-item" href="data.html">
            Data
          </a>
          <a class="navbar-item" href="work.html">
            Work
          </a>
          <a class="navbar-item" href="tech.html">
            Tech
          </a>
          <a class="navbar-item" href="idea.html">
            Idea
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <section class="hero is-info is-medium is-bold">
    <div class="hero-body-rasp">
    </div>
  </section>

<div class="tab-pane is-active" id="pane-2">
  <div class="content">
    <h1>Single Board Computers & Single Board Microcontrollers</h1>
    <p><span class="tag is-primary">Author</span> Vincent Lu<p>
    <br>
    <h2>What does it do?</h2>
<p>The function of single board computers is to provide a device with more powerful, more energy-efficient hardware and a smaller form factor. Offering open-source support to run variants of Linux.
  Single board computers function as media centres, file servers, retro games consoles, routers, and network-level ad-blockers, for starters. There are many more purposes. Single board computers are
  important as they are devices to nurture schoolchildren in programming worldwide and thereby, creating the next generation of developers. The similarities between all single board computers are that
  they all contain GPIO pins, standing for general purpose input/output pins which allow the board to communicate with other devices,
  this is instrumental to the versatility of a single board computer.</p>

  <p>The function of a single-board microcontroller is to provide a circuit medium to facilitate the operation of a single program for repetitive tasks. A basic single-board microcontroller
    integrates the following: CPU, RAM,storage onto a single chip, digital input/output circuits, serial ports, analogue to digital Converter, digital to analogue converter, clock generator
    and on-board power supply. With a single-board microcontroller, electronics are controlled by reading inputs and converting them into outputs. Software applications in tandem with programming
    languages are used to write code that is stored and runned by the microcontroller of a single-board microcontroller. The advantages of a single-board microcontroller in comparison to a standalone
    microcontroller is that proprietary cables are needed, and universal USB cables are usually used, connections to the input and output headers also use readily available jumper leads.  Single-board
    microcontroller controllers, usually being inexpensive and open-source, makes it very accessible to many people in the world, thus having a wide number of tutorials and code libraries. The most
    popular single-board microcontroller platform is the Arduino platform which has open-source design with various manufacturers offering low-cost variants. Some common projects using the Arduino and
    Arduino compatible single-board microcontrollers are RFID systems, Robots, Motor Controller, Humidity sensor and Alarm clocks. Some of these projects utilise ‘shields’ which are modules that
    directly plug in to the headers of an Arduino offering extra capabilities such as networking, extra storage, displays, motor drivers and much more. Various sensors are also available for Arduino
    boards such as motion sensors, proximity sensors, environmental sensors and more. These input and output devices make low-cost projects and prototypes possible.</p><br>

  <h2>How can one choose between a single board computer and a single board microcontroller</h2>
  <p>Both Single Board Computers & Single-board microcontrollers share the similarity in both being typically inexpensive, small form factor, low power, compatible with various input/output
    add ons and availability of open-source hardware and software. Single-board microcontrollers such as the Arduino have wider support and range of shields (add ons) while Single Board Computers
    typically have USB ports and video output as standard.</p>

  <p>The determining factor between the choice of two comes down to usage, the lower clock speed microcontroller of a single-board microcontroller is more useful as stated before, for
    undemanding repetitive tasks. A Single Board Computer makes more sense with its higher clock speed microprocessor is more useful for simultaneous tasks, requiring more computational throughput.</p>

  <p>Single Board Computers & Single-board microcontrollers can also be used together, linked via serial communication.
    The Single-board microcontroller can be used for reading inputs and controlling outputs while the Single Board Computer can facilitate more computationally intensive tasks
    such as running a program to process the input data from the Single-board microcontroller in output commands Single-board microcontroller.</p><br>

  <h2>What is the likely impact?</h2>
  <p>While there are no significant impacts of Single Board Computers & Single-board microcontrollers for the future of technology, there are positive implications for now. Single Board Computers
    & Single-board microcontrollers being inexpensive and open-source have allowed for a large online community to constantly improve hardware and software with no limitation, allowing for the
    countless add ons such as sensors and shields. With its accessibility, young people from all over the world are engaged and empowered through computing, being a replacement for the programmable
    computing devices of yesteryear. Experimentation of these devices have driven further the improvement of constituents of IoT such as smart homes. To summarise, these devices have enriched
    technology for many while providing a basic device to bridge the gaps in computing skills for those without.</p>

  <p>As for me and most people, Single Board Computers & Single-board microcontrollers increase exposure to the field of IoT, one that is growing at a rapid pace to have a predicted 75
    billion IoT devices in 2025. IoT is gaining importance in workplaces and homes with automation, Single Board Computers & Single-board microcontrollers are just a microcosm of this,
    helping one gain the understanding behind it.</p><br><br>
    <div class="reference">
        <h3><strong>References</strong></h3>
      </div>
      <ol>
        <br>
<li>Orsini, L 2014, ‘Arduino Vs. Raspberry Pi: Which Is The Right DIY Platform For You?’, readwrite, viewed 15 September 2021, <a href=”https://readwrite.com/2014/05/07/arduino-vs-raspberry-pi-projects-diy-platform/”>reference link</a></li>
<li>White, E 2017, Don't Use Arduino (For Professional Work), Embedded.fm, viewed 15 September 2021, <a href=”https://embedded.fm/blog/2017/8/12/dont-use-arduino-for-professional-work”>reference link</a></li>
<li>Molloy, D 2016, Exploring Raspberry Pi, 10475 Crosspoint Boulevard Indianapolis, IN 46256: John Wiley & Sons, Inc. </li>
<li>Arduino 2021, Frequently Asked Questions, Arduino, viewed 15 September 2021, <a href=”https://www.arduino.cc/en/Main.FAQ#toc10”>reference link</a></li>
<li>ghollingworth & popcornmix 2019, ‘LICENCE.broadcom’, Broadcom Corporation, viewed 15 September 2021, <a href=”https://github.com/raspberrypi/firmware/blob/master/boot/LICENCE.broadcom”>reference link</a></li>
<li>Ssewanyana, S& Kasirye, I, 2012, ‘Poverty and inequality dynamics in Uganda: Insights from the Uganda national Panel Surveys 2005/6 and 2009/10’. In Research Series 148953, Economic Policy Research Centre (EPRC) </li>
<li>Chang, C, & Chen, Y 2020, 'Using mastery learning theory to develop task-centered hands-on STEM learning of Arduino-based educational robotics: psychomotor performance and perception by a convergent parallel mixed method,Interactive Learning Environments, pp.1. </li>
</ol>

</div>
<a class="button is-small is-info is-outlined" href="tech.html">
    Back
</a>
</div>


                  <section class="copyright">
                    <div class="container">
                      <p>© <span id="year"></span> | Designed and Developed based on <a href="https://github.com/BulmaTemplates/bulma-templates">Bulma CSS template</a>. | All rights reserved.</p>
                    </div>
                  </section>

                </body>
                </html>
