<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ghost Style Blog - Free Bulma template</title>
    <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/profile.css" />
    <link rel="stylesheet" type="text/css" href="../css/tech.css">
  </head>
  <body>
    <!-- START NAV -->
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../index.html">
            <img src="../images/logo.jpg" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
          </span>
        </div>
        <div class="brand-name">
          <a href="../index.html" class="logo">Vibing</a>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active" href="../index.html">
              Home
            </a>
            <a class="navbar-item" href="profile.html">
              Profile
            </a>
            <a class="navbar-item" href="job.html">
              Job
            </a>
            <a class="navbar-item" href="tools.html">
              Tools
            </a>
            <a class="navbar-item" href="data.html">
              Data
            </a>
            <a class="navbar-item" href="work.html">
              Work
            </a>
            <a class="navbar-item" href="tech.html">
              Tech
            </a>
            <a class="navbar-item" href="idea.html">
              Idea
            </a>
            <a class="navbar-item" href="reflection.html">
              Reflection
            </a>
            <a class="navbar-item" href="dynamics.html">
              Dynamics
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- END NAV -->

    <section class="hero is-info is-medium is-bold">
      <div class="hero-body-tech">
        <div class="container has-text-centered">
          <h1 class="header-title">IT Technologies</h1>
        </div>
      </div>
    </section>

  <section class="blog-posts">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <div class="columns is-multiline">
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="../images/cybersecurity.jpg" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h3 class="heading post-category">IT Technology</h3>
                  <h1 class="title post-title">Cybersecurity</h1>
                  <p class="post-excerpt">Cyber security is an ever-growing necessity in the modern world. To better understand the role that cyber security plays, it's important to know where it comes from.</p>
                  <br>
                  <a href="cybersecurity.html" class="button is-primary">Read More</a>
                </div>
              </article>
            </div>
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="../images/ml.jpg" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h3 class="heading post-category">IT Technology</h3>
                  <h1 class="title post-title">Machine Learning</h1>
                  <p class="post-excerpt">Machine learning is an evolving branch of computational algorithms that are designed to emulate human intelligence by learning from the surrounding environment.</p>
                  <br>
                  <a href="machine learning.html" class="button is-primary">Read More</a>
                </div>
              </article>
            </div>
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="../images/cloud.jpg" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h3 class="heading post-category">IT Technology</h3>
                  <h1 class="title post-title">Clouds, services, servers</h1>
                  <p class="post-excerpt">Cloud refers to a collection of internet-connected servers rented as part of a software or application service. Web hosting, data storage and sharing,
  and software or applications are all examples of cloud-based services.</p>
                  <br>
                  <a href="clouds.html" class="button is-primary">Read More</a>
                </div>
              </article>
            </div>
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="../images/rasppi.jpg" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h3 class="heading post-category">IT Technology</h3>
                  <h1 class="title post-title">Single Board Computers & Single Board Microcontrollers</h1>
                  <p class="post-excerpt">The function of single board computers is to provide a device with more powerful, more energy-efficient hardware and a smaller form factor. Offering open-source support to run variants of Linux.</p>
                  <br>
                  <a href="rasppi.html" class="button is-primary">Read More</a>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>

  </section>
  <section class="copyright">
    <div class="container">
      <p>© <span id="year"></span> | Designed and Developed based on <a href="https://github.com/BulmaTemplates/bulma-templates">Bulma CSS template</a>. | All rights reserved.</p>
    </div>
  </section>
</body>
</html>
