<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog - Free Bulma template</title>
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/tools.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="home.html">
          <img src="../images/logo.jpg" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
        </span>
      </div>
      <div class="brand-name">
        <a href="/" class="logo">Vibing</a>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active" href="../index.html">
            Home
          </a>
          <a class="navbar-item" href="profile.html">
            Profile
          </a>
          <a class="navbar-item">
            Job
          </a>
          <a class="navbar-item" href="tools.html">
            Tools
          </a>
          <a class="navbar-item">
            Data
          </a>
          <a class="navbar-item" href="work.html">
            Work
          </a>
          <a class="navbar-item" href="tech.html">
            Tech
          </a>
          <a class="navbar-item">
            Idea
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <section class="hero is-info is-medium is-bold">
    <div class="hero-body-tools">
    </div>
  </section>


  <!-- Portfolio -->
  <section class="section" id="portfolio">
    <div class="container">
      <div class="section-heading">
        <h3 class="title is-2">Tools</h3>
        <h4 class="subtitle is-5">Individual website</h4>
      </div>
      <br>

      <div class="container portfolio-container">
        <div class="columns">
          <div class="column is-6">
            <!-- admin -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Anson Go</span>
                  <span class="is-pulled-right">
                      <span class="tag is-default">s3767707</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/Anson website.png">
                </figure>
              </div>
              <footer class="card-footer">

                <a href="https://s3767707.github.io/" class="card-footer-item">
                  <span class="icon">
                    <i class="fa fa-eye"></i>
                  </span>View
                </a>
                <a href="https://github.com/s3767707/s3767707.github.io" class="card-footer-item">
                  <span class="icon">
                  <i class="fa fa-github"></i>
                  </span>Source Code</a>
              </footer>
            </div>
            <!-- cards -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Dat Nguyuen</span>
                  <span class="is-pulled-right">
                      <span class="tag is-default">s3697380</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/Dat website.png">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="https://datnguyennn.github.io/datnguyen.github.io/" class="card-footer-item">
                  <span class="icon">
                    <i class="fa fa-eye"></i>
                  </span>View</a>
                <a href="https://github.com/DatNguyennn/datnguyen.github.io" class="card-footer-item">
                  <span class="icon">
                  <i class="fa fa-github"></i>
                  </span>Source
                  Code</a>
              </footer>
            </div>
            <!-- forum -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Vincent Lu</span>
                  <span class="is-pulled-right">
                      <span class="tag is-default">s3896691</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/Vincent website.png">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="https://s3896691.github.io/COSC1078-Assignment_1/" class="card-footer-item">
                  <span class="icon">
                    <i class="fa fa-eye"></i>
                  </span>View</a>
                <a href="https://github.com/s3767707/s3767707.github.io" class="card-footer-item">
                  <span class="icon">
                  <i class="fa fa-github"></i>
                  </span>Source
                  Code</a>
              </footer>
            </div>
          </div>
          <div class="column is-6">
            <!-- band -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Mitchell Taylor</span>
                  <span class="is-pulled-right">
                      <span class="tag is-default">s3915730</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/Mitchell website.png">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="https://mtaylorrmit.github.io/Assignment-1-/" class="card-footer-item">
                  <span class="icon">
                    <i class="fa fa-eye"></i>
                  </span>View</a>
                <a href="https://github.com/mtaylorrmit/Assignment-1-" class="card-footer-item">
                  <span class="icon">
                  <i class="fa fa-github"></i>
                  </span>Source
                  Code</a>
              </footer>
            </div>
            <!-- cheatsheet -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Jake Porter</span>
                  <span class="is-pulled-right">
                      <span class="tag is-default">s3909096</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/Jake website.png">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="https://sergeantsquirrel.github.io/MyProfile/" class="card-footer-item">
                  <span class="icon">
                    <i class="fa fa-eye"></i>
                  </span>View</a>
                <a href="https://github.com/SergeantSquirrel/MyProfile" class="card-footer-item">
                  <span class="icon">
                  <i class="fa fa-github"></i>
                  </span>Source
                  Code</a>
              </footer>
            </div>
        </div>
      </div>
    </div>
  </section>

                  <section class="copyright">
                    <div class="container">
                      <p>© <span id="year"></span> | Designed and Developed based on <a href="https://github.com/BulmaTemplates/bulma-templates">Bulma CSS template</a>. | All rights reserved.</p>
                    </div>
                  </section>

                </body>
                </html>
