<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog - Free Bulma template</title>
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/index.css" />
  <link rel="stylesheet" type="text/css" href="../css/profile.css" />
  <link rel="stylesheet" type="text/css" href="../css/report.css" />
<link rel="stylesheet" type="text/css" href="../css/work.css" />
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="home.html">
          <img src="../images/logo.jpg" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
        </span>
      </div>
      <div class="brand-name">
        <a href="/" class="logo">Vibing</a>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active" href="../index.html">
            Home
          </a>
          <a class="navbar-item" href="profile.html">
            Profile
          </a>
          <a class="navbar-item">
            Job
          </a>
          <a class="navbar-item" href="tools.html">
            Tools
          </a>
          <a class="navbar-item">
            Data
          </a>
          <a class="navbar-item" href="work.html">
            Work
          </a>
          <a class="navbar-item" href="tech.html">
            Tech
          </a>
          <a class="navbar-item">
            Idea
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <section class="hero is-info is-medium is-bold">
    <div class="hero-body-work">

    </div>
    <div class="bg-text">
  <h2>IT Work</h2>
  <h1>Hi, I am SAM</h1>
  <p>an IT specialist</p>
</div>
  </section>
  <div class="box cta">
      <p class="has-text-centered">
          <span class="tag is-primary">Interview</span> Meet Sam Carswell who works in a Microbiological Diagnostic Unit - Public Health lab for a University in Australia. The university is unamed for confidentiality.
      </p>
  </div>

  <div class="tab-pane is-active" id="pane-2">
    <div class="content">
      <h1>Biography</h1>
      <br></br>
      <p>Sam studied a Bachelor of Information Technology straight after graduating from school. He always had an interest in technology growing up, so he decided to choose a career that would allow him to use his technological skills.
   The strong job prospects and income was also a strong reason that he chose IT. Currently, Sam has worked in the IT industry for five years, with three different companies. Sam started his career at InfoSys, which allowed him to be contracted and eventually full time hired by NAB, and is now working for a University.
</p>
  </div>

  <div class="sandbox">
      <div class="tile is-ancestor">
          <div class="tile is-parent is-13 is-shady">
              <article class="tile is-child notification is-white">
                  <p class="title">What kind of work is done by the IT professional?</p>
                  <div class="content">
                    <p>I work for the Microbiological Diagnostic Unit Public Health lab at a University in Australia . I am responsible for developing and maintaining a
genome sequencing tracking system, which is used by the different states of Australia to share data relating to the COVID19 genome with each other.</p>

<p>I have to maintain a cloud infrastructure that runs the platform (The genome sequencing tracking system) as well as spending time developing the platform.
Equal time is spent both on maintenance and project development. </p>

<p>The tools and technologies that Sam uses for maintenance and development include the following:</p>
<ul>
<li>Scripting - analysis on local servers to communicate with cloud infrastructure (push information to the cloud)</li>
<li>Building and maintaining continuous integration and continuous deployment (ci/cd) pipelines</li>
<li>Management of development tools such as Github and Azure DevOps</li>
<li>Github is used for management of code repositories</li>
<li>Azure DevOps is used as a ticketing system for work, as well as an agent to run ci/cd pipelines</li>
<li>Publishing and maintenance of packages</li>
</ul>

<p>I am often required to be the first point of contact with contractors, who are hired to assist with scaling out the platform (adding additional infrastructure in prepackaged blocks).
The contractors are given certain parameters to work within and requirements that need to be met, both of which are set by me, who then checks their work and signs off on it if it is satisfactory.
As I am required to maintain the platform, he has to be in direct communication with users of the platform that can identify potential issues that need to be solved.</p>

<p>As technology is constantly improving, I have to keep up to date with new information related to development and maintenance, as well as learning new tools that other contractors work with.
For example, I had to learn how to use .NET and Blazer as the most recent contractors needed to use those specific frameworks.</p>
                  </div>
              </article>
          </div>
      </div>

      <div class="tile is-ancestor">
          <div class="tile is-parent is-shady">
              <article class="tile is-child notification is-white">
                  <p class="title">What aspect of the position is most challenging?</p>
                  <div class="content">
                    <p>Having to use and stay up to date with new technology frequently (almost every month), as it becomes hard to assign time during the day for self learning when he is needed for maintenance,
    development, and meetings. The example mentioned earlier of having to learn .NET and Blazer is a reason why it can be challenging.</p>
                  </div>
              </article>
          </div>
          <div class="tile is-parent is-7 is-shady">
              <article class="tile is-child notification is-white">
                  <p class="title">What kinds of people does the IT professional interact with?</p>
                  <div class="content">
                    <p>I work with one other coworker that helps him with the maintenance and development of the platform.They often have meetings to discuss and delegate work as well as brainstorm
  solutions to issues with the platform. Other than my coworker, I mostly interacts with contractors (software engineers) hired to help with development. As mentioned above,
  this involves me setting up requirements and parameters for the contractors to work towards and within. My colleagues are Bioinformaticians, which are basically data scientists with
  medical backgrounds. They work in a different area as they focus on analysing data, which is not entirely relevant to my work. Other people I interacts with are epidemiologists which
  can provide me with suggestions and feedback on the development of the platform. </p>

                  </div>
              </article>
          </div>
      </div>
      <div class="tile is-ancestor">
          <div class="tile is-parent is-shady">
              <article class="tile is-child notification is-white">
                  <p class="title">How does the IT professional spend most of their time?</p>
                  <div class="content">
                    <p>Majority of my time is spent in meetings with users of the platform and contractors. These meetings generally consist of the users giving feedback on the platform and listing potential issues.
  After these meetings, solutions to pressing issues have to be brainstormed and then eventually implemented. Meetings with contractors also involve me having to teach how certain things work as
  well as being updated on the work they've completed.</p>
                  </div>
              </article>
          </div>
      </div>
  </div>


  </div>

                  <section class="copyright">
                    <div class="container">
                      <p>© <span id="year"></span> | Designed and Developed based on <a href="https://github.com/BulmaTemplates/bulma-templates">Bulma CSS template</a>. | All rights reserved.</p>
                    </div>
                  </section>

                </body>
                </html>
